@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.tooltip-visible {
    .tooltip-content {
        @apply opacity-100;
        @apply z-50;

        &:hover {
            @apply z-100;
        }
    }
}

.tooltip-content {
    @apply cursor-default;
    @apply transition-opacity duration-300;
    @apply opacity-0 absolute;
    @apply -z-1 max-w-sm w-max h-max text-center;


}